.top-cart {
    height: $height-top-pages;
    background-image: url(./img/top-cart.jpg);
}

.cart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    column-gap: $gap;
    row-gap: $gap * 2;

    margin: auto;
    margin-top: $gap * 2;

    &__content {
        grid-column: 1 / 3;
    }

    &__name-box {
        display: flex;
        justify-content: space-between;

        color: $color-title;
        font-weight: $fw-regular;
        line-height: 100%;
        text-align: left;

        padding-bottom: 14px;
        padding-right: 27px;
    }

    &__item {
        border-top: 0.5px solid $color-line;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        padding-top: $gap;
        padding-bottom: $gap;
    }

    &__left {
        display: flex;
        gap: $gap;
    }

    &__image {
        display: block;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: $gap / 2;

        max-width: 276px;
    }

    &__title {
        color: $color-title;
        font-size: $fs-h3;
        font-weight: $fw-medium;
        line-height: 29px;
        text-align: left;
    }

    &__description {
        @extend %font-text-2;
        color: $color-description;
        line-height: 1rem;
        text-align: left;
    }

    &__price {
        color: $color-price;
        font-weight: $fw-regular;
        line-height: 20px;
        text-align: left;
    }

    &__link-box {
        display: flex;
        gap: 30px;
        align-items: baseline;
    }

    &__link {
        @extend %font-text-2;
        color: $color-title;
        line-height: 17px;
        text-align: center;
        text-decoration-line: underline;

        transition: all 0.5s;

        &:hover {
            text-decoration-line: none;
            color: $color-description;
        }
    }

    &__amount {
        font-family: "Poppins";
        text-align: center;
        font-size: 0.875rem;
        font-weight: $fw-semi-bold;
        line-height: 21px;

        background-color: $color-background;
        border-radius: 6px;
        border: 0px;

        width: 70px;
        height: 51px;
        padding: 9px 14px;

        &:active,
        &:focus {
            border: 0px;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            opacity: 1;
        }
    }

    &__option {
        display: flex;
        gap: 7px;

        margin-top: 18px;
    }

    &__button {
        width: 200px;

        box-sizing: border-box;
        border: 1px solid $color-title;
        border-radius: 50px;
        background-color: transparent;

        color: $color-title;
        @extend %font-text-2;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;

        padding: 10px;
        text-decoration-line: none;

        transition: all 1s;

        &:hover {
            border-radius: 50px;
            background-color: $color-title;
            text-decoration-line: none;

            color: $color-text;
        }
    }


    &__form {
        border-radius: 20px;
        background: $color-background;

        grid-column: span 1;
        height: 556px;
        min-width: 343px;

        padding-top: 42px;
    }

    &__form-title {
        color: $color-title;
        font-size: $fs-h3;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
    }

    &__input-box {
        display: flex;
        flex-direction: column;
        gap: 41px;

        margin-top: 35px;
        margin-left: 28px;
        margin-right: $gap * 2;
    }

    &__input {
        @extend %font-text-2;
        color: $color-title;
        text-align: left;
        border: 0px;
        border-bottom: 1px solid $color-line;
        background-color: transparent;

        ::placeholder {
            color: $color-title;
        }

        // &_tel:invalid {
        //     border-bottom: 1px solid red;
        // }
    }

    &__order-box {
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: center;

        margin-top: $gap * 2;
    }

    &__final {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &__final-price {
        color: $color-title;
        font-size: $fs-h3;
        font-weight: $fw-regular;
        line-height: 100%;
        text-align: center;
    }

    &__place-order {
        box-sizing: border-box;
        border: 1px solid #040404;
        border-radius: 20px;

        width: 290px;
        padding-top: 10px;
        padding-bottom: 11px;

        transition: all 1s;

        &:hover {
            background: $color-title;
            color: $color-text;
            text-decoration-line: none;

            box-shadow: 0px 4px 67px -12px $color-title;
        }
    }
}