.top-cat {
    background-image: url(./img/top-catalog.jpg);
    height: $height-top-pages;
}

.product-box-cat {
    margin-top: 61px;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.breadcrumb {
    display: flex;
    gap: 10px;

    &__link {
        color: $color-title;
        font-weight: $fw-regular;
        line-height: $gap;
        text-align: left;
        text-decoration-line: none;

        transition: all 0.5s;

        &:hover {
            color: $color-description;
        }

        &:hover::after {
            color: $color-title;
        }

        &:not(:last-child)::after {
            content: "/";
            margin-left: 10px;
        }
    }
}

.filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    gap: 10px;

    &__button {
        font-weight: $fw-medium;
        text-align: left;

        &[open]>summary {
            background-color: transparent;
            color: #000000;
            line-height: 20px;

            &::-webkit-details-marker {
                display: none;
            }

            &:focus,
            &:active {
                background-color: transparent;
                color: #000000;
            }

            &:hover {
                background: $color-title;
                color: $color-text;

                &::after {
                    filter: invert(100%);
                }
            }

            &::after {
                display: inline-block;
                transform: rotate(180deg);

                margin-left: 1rem;
                padding-top: 0;
            }
        }
    }

    &__summary {
        background-color: transparent;
        color: #000000;
        line-height: 20px;

        display: block;
        cursor: pointer;

        transition: all 1s;

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            content: "";

            display: inline-block;
            width: 18px;
            height: 9px;

            background-image: url("data:image/svg+xml,%3Csvg width='18' height='9' viewBox='0 0 18 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 9L0.339745 0.749998L17.6603 0.75L9 9Z' fill='black'/%3E%3C/svg%3E%0A");
            background-size: contain;
            background-repeat: no-repeat;

            margin-left: 1rem;
            transition: all 1s;
        }

        &:focus,
        &:active {
            background-color: transparent;
            color: #000000;
        }

        &:hover {
            background: $color-title;
            color: $color-text;

            &::after {
                filter: invert(100%);
            }
        }
    }

    &__select {
        text-align: left;
        line-height: 20px;
        min-width: 227px;
        background-color: transparent;
        color: #000000;

        text-overflow: ellipsis;
        white-space: nowrap;

        -webkit-appearance: none; // Стиль для Safari
        -moz-appearance: none; // Стиль для Firefox 
        appearance: none;

        cursor: pointer;

        transition: all 1s;

        &:hover {
            background-color: $color-title;
            color: $color-text;
        }

        &:hover+.select-arrow svg path {
            fill: $color-text;
        }

        &:open+.select-arrow {
            transform: translateY(-39%) rotate(180deg);
        }

        &:active,
        &:focus {
            outline: none;
        }

        &::picker(select) {
            appearance: base-select;
            border: none;

            top: calc(anchor(bottom) + 2px);
        }

        &::picker(select):popover-open {
            box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
        }

        &::picker-icon,
        &:open+&::picker-icon {
            content: "";
            color: $color-text;
            font-size: 0;
            display: none;
        }

        option {
            display: flex;
            justify-content: flex-start;
            gap: 20px;

            border: none;
            outline: none;
            background: $color-text;
            padding: 10px;
            transition: 0.4s;
            color: $color-description;

            &:hover,
            &:focus {
                background: $color-text;
                color: $color-title;
            }

            &::checkmark {
                content: "";
            }
        }
    }
}

.select-arrow {
    position: absolute;
    right: 22px;
    top: 47%;
    transform: translateY(-50%);

    pointer-events: none;
    transition: all 1s;
}

.filter-button-wrapper {
    position: relative;
}

.select-button-wrapper {
    position: relative;
    overflow: hidden;
}

.product-content-cat {
    gap: 30px;

    margin-top: 36px;
}