$color-text: #FFFFFF;
$color-title: #000000;
$color-description: #888888;
$color-background: #F7F6F6;
$color-price: #050505;
$color-border: #C4C4C4;
$color-line: #CACDD8;

$font-fam: "Montserrat", "sans-serif";
$fs-base: 1rem; // 16px
$fs-h3: 1.5rem; // 24px
$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;

$width-site: 1200px;
$width-product: 378px;
$gap: 2rem; // 32px;
$height-for-item: 415px;
$height-top-pages: 400px;

%h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 70px;
}

%font-text-2 {
    font-size: 0.875rem; // 14px
    font-weight: $fw-regular;
    line-height: 100%;
}

%font-text-3 {
    font-size: 0.75rem;
    font-weight: $fw-regular;
    line-height: 100%;
}